[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[packages]

"beautifulsoup4" = "==4.5.3"
Flask = "==0.12"
requests = "==2.13.0"
SQLAlchemy = "==1.1.6"


[requires]

python_version = "3.6"
